.cartListContainer {
  width: 320px;
  margin: 0.5rem auto 0 auto;
}

.cartListContainer ul {
  list-style: none;
  padding: 0;
}

.cartListContainer ul li {
  height: 2.1rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  margin: 0.1rem 0 0.1rem 0;
  border-bottom: 1px solid #ffffff29;
}

.cartListContainer ul :last-child {
  border-bottom: none;
}

.listTrashButton {
  width: 1rem;
  height: 1.5rem;
  outline: $orangeFull solid 1px;
  border-radius: 1rem;
  // background: url(../img/trash-solid.svg) no-repeat;
  margin-right: 0.1rem;

  position: relative;
}

.trashImg {
  width: 0.9rem;
  height: 0.9rem;
  background: url(../img/trash-solid.svg) no-repeat;

  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
}

.listProductName {
  width: 50%;
}

.listProductQuantity {
  width: 5%;
}

.listProductUnit {
  width: 20%;
}

.listTrashButton {
  width: 8%;
}
